In [16]:
## importing some required libraries
import pandas as pd
import numpy as np
pd.set_option("display.max_columns", 50)

In [8]:
# read the movies data
data = pd.read_csv("IMDb movies.csv")

C:\Users\Siddhesha\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [4]:
data.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [30]:
# since we got a warning while importing the data that 3 column contains mixed datatype lets explore more about it
# since column 3 is year we will try to change the data type into date format
data["year"] = pd.to_datetime(data["year"])

TypeError: invalid string coercion to datetime

In [35]:
# looks like there is some string value present in the column lets try to find out where is it present
# for that we'll first convert the whole column into data type into string
data["year"]=data["year"].astype(str)

In [36]:
# since length of year can only be 4 so if the lenth of the string is greater than 4 then we have got our row that is causing problem
for i in range(0, len(data)):
    if len(data.loc[i,"year"]) == 4:
        pass
    else:
        print(i)

83917

In [42]:
# row number 83917 have some string present in it instead of date lets extract the particular row
data.loc[83917,:]

imdb_title_id                                                    tt8206668
title                                                        Bad Education
original_title                                               Bad Education
year                                                            2019-09-08
date_published                                                  2019-09-08
genre                                             Biography, Comedy, Crime
duration                                                               108
country                                                                USA
language                                                           English
director                                                       Cory Finley
writer                                        Mike Makowsky, Robert Kolker
production_company                                               HBO Films
actors                   Hugh Jackman, Ray Romano, Welker White, Alliso...
description              The beloved superintendent of New York's Rosly...
avg_vote                                                               7.1
votes                                                                23973
budget                                                                 NaN
usa_gross_income                                                       NaN
worlwide_gross_income                                                  NaN
metascore                                                               79
reviews_from_users                                                     135
reviews_from_critics                                                    98
Name: 83917, dtype: object

In [43]:
# here we can see that the year column has string "TV MOVIE 2019" present in it. we can either replace it or drop the row
# after googling out it was found that "BAD EDUCATION" was first released on  8 September 2019
# hence replacing the value with 2019-09-08 in date published column as we will not be needing year column for our analysis
data.loc[83917,"date_published"] = "2019-09-08"
data.loc[83917,:]

imdb_title_id                                                    tt8206668
title                                                        Bad Education
original_title                                               Bad Education
year                                                            2019-09-08
date_published                                                  2019-09-08
genre                                             Biography, Comedy, Crime
duration                                                               108
country                                                                USA
language                                                           English
director                                                       Cory Finley
writer                                        Mike Makowsky, Robert Kolker
production_company                                               HBO Films
actors                   Hugh Jackman, Ray Romano, Welker White, Alliso...
description              The beloved superintendent of New York's Rosly...
avg_vote                                                               7.1
votes                                                                23973
budget                                                                 NaN
usa_gross_income                                                       NaN
worlwide_gross_income                                                  NaN
metascore                                                               79
reviews_from_users                                                     135
reviews_from_critics                                                    98
Name: 83917, dtype: object

In [46]:
# now we can convert it into date time format
data["date_published"] = pd.to_datetime(data["date_published"])

In [47]:
# % of missing data
data.isnull().sum()*100/data.shape[0]

imdb_title_id             0.000000
title                     0.000000
original_title            0.000000
year                      0.000000
date_published            0.000000
genre                     0.000000
duration                  0.000000
country                   0.000000
language                  0.000000
director                  0.000000
writer                    1.830994
production_company        5.188981
actors                    0.000000
description               2.463456
avg_vote                  0.000000
votes                     0.000000
budget                   72.383670
usa_gross_income         82.148972
worlwide_gross_income    63.873974
metascore                84.502941
reviews_from_users        8.848640
reviews_from_critics     13.740609
dtype: float64

In [48]:
# filling the missing data with others instead of droping them and since few columns contains huge amount of missing data
# we will drop them also they wont be useful for our further analysis
data["country"] = data["country"].fillna("Others")
data["language"] = data["language"].fillna("Others")
data["director"] = data["director"].fillna("Others")
data["actors"] = data["actors"].fillna("Others")

In [49]:
data.isnull().sum()

imdb_title_id                0
title                        0
original_title               0
year                         0
date_published               0
genre                        0
duration                     0
country                      0
language                     0
director                     0
writer                    1572
production_company        4455
actors                       0
description               2115
avg_vote                     0
votes                        0
budget                   62145
usa_gross_income         70529
worlwide_gross_income    54839
metascore                72550
reviews_from_users        7597
reviews_from_critics     11797
dtype: int64

In [50]:
data.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'avg_vote', 'votes',
       'budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics'],
      dtype='object')

In [51]:
# keeping only the columns that are useful and not dropping the one that are not needed
data.drop(['title','writer','production_company','budget', 'usa_gross_income', 'worlwide_gross_income', 'metascore',
       'reviews_from_users', 'reviews_from_critics'], axis = 1, inplace = True)

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   imdb_title_id   85855 non-null  object
 1   original_title  85855 non-null  object
 2   year            85855 non-null  object
 3   date_published  85855 non-null  datetime64[ns]
 4   genre           85855 non-null  object
 5   duration        85855 non-null  int64
 6   country         85855 non-null  object
 7   language        85855 non-null  object
 8   director        85855 non-null  object
 9   actors          85855 non-null  object
 10  description     83740 non-null  object
 11  avg_vote        85855 non-null  float64
 12  votes           85855 non-null  int64
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 8.5+ MB

In [53]:
# reading our second data which contains name of the actor/actress/director/writers etc
data2 = pd.read_csv("IMDb names.csv")

In [54]:
data2.head()

,imdb_name_id,name,birth_name,height,bio,birth_details,date_of_birth,place_of_birth,death_details,date_of_death,place_of_death,reason_of_death,spouses_string,spouses,divorces,spouses_with_children,children
0,nm0000001,Fred Astaire,Frederic Austerlitz Jr.,177.0,"Fred Astaire was born in Omaha, Nebraska, to J...","May 10, 1899 in Omaha, Nebraska, USA",1899-05-10,"Omaha, Nebraska, USA","June 22, 1987 in Los Angeles, California, USA ...",1987-06-22,"Los Angeles, California, USA",pneumonia,Robyn Smith (27 June 1980 - 22 June 1987) (hi...,2,0,1,2
1,nm0000002,Lauren Bacall,Betty Joan Perske,174.0,Lauren Bacall was born Betty Joan Perske on Se...,"September 16, 1924 in The Bronx, New York City...",1924-09-16,"The Bronx, New York City, New York, USA","August 12, 2014 in New York City, New York, US...",2014-08-12,"New York City, New York, USA",stroke,Jason Robards (4 July 1961 - 10 September 196...,2,1,2,3
2,nm0000003,Brigitte Bardot,Brigitte Bardot,166.0,"Brigitte Bardot was born on September 28, 1934...","September 28, 1934 in Paris, France",1934-09-28,"Paris, France",NaN,NaN,NaN,NaN,Bernard d'Ormale (16 August 1992 - present)\n...,4,3,1,1
3,nm0000004,John Belushi,John Adam Belushi,170.0,"John Belushi was born in Chicago, Illinois, US...","January 24, 1949 in Chicago, Illinois, USA",1949-01-24,"Chicago, Illinois, USA","March 5, 1982 in Hollywood, Los Angeles, Calif...",1982-03-05,"Hollywood, Los Angeles, California, USA",acute cocaine and heroin intoxication,Judith Belushi-Pisano (31 December 1976 - 5 M...,1,0,0,0
4,nm0000005,Ingmar Bergman,Ernst Ingmar Bergman,179.0,"Ernst Ingmar Bergman was born July 14, 1918, t...","July 14, 1918 in Uppsala, Uppsala län, Sweden",1918-07-14,"Uppsala, Uppsala län, Sweden","July 30, 2007 in Fårö, Gotlands län, Sweden (...",2007-07-30,"Fårö, Gotlands län, Sweden",natural causes,Ingrid Bergman (11 November 1971 - 20 May 199...,5,4,5,8

In [55]:
# count of missing values
data2.isnull().sum()

imdb_name_id                  0
name                          0
birth_name                    0
height                   253024
bio                       93007
birth_details            187093
date_of_birth            187093
place_of_birth           193713
death_details            257772
date_of_death            257772
place_of_death           260667
reason_of_death          275011
spouses_string           252353
spouses                       0
divorces                      0
spouses_with_children         0
children                      0
dtype: int64

In [30]:
# since this data contains huge amount if missing data and we wont be needing much of the data except name and id we can drop other columns
data2 = data2.iloc[:,[0,1]]

In [57]:
# reading the data which connects our movies and names of actors data 
data3 = pd.read_csv("IMDb title_principals.csv")

In [58]:
data3.head()

,imdb_title_id,ordering,imdb_name_id,category,job,characters
0,tt0000009,1,nm0063086,actress,NaN,"[""Miss Geraldine Holbrook (Miss Jerry)""]"
1,tt0000009,2,nm0183823,actor,NaN,"[""Mr. Hamilton""]"
2,tt0000009,3,nm1309758,actor,NaN,"[""Chauncey Depew - the Director of the New Yor..."
3,tt0000009,4,nm0085156,director,NaN,NaN
4,tt0000574,1,nm0846887,actress,NaN,"[""Kate Kelly""]"

In [21]:
# since the charaters column contains much of missing values but can be used we will not drop it and since job column is not of much use we need to drop it
# the missing values in charaters column will be treated in PowerBI
data3 = data3.iloc[:,[0,2,3,5]]

In [59]:
data3.isnull().sum()

imdb_title_id         0
ordering              0
imdb_name_id          0
category              0
job              622782
characters       494677
dtype: int64

In [26]:
# saving the data for further analysis in powerbi
data.to_csv("movies info.csv", encoding='utf-8', index= False)
data2.to_csv("actor names.csv", encoding='utf-8', index= False)
data3.to_csv("connector.csv", encoding='utf-8', index= False)